{% load static %}
<html>
    <head>
        <title>Lab</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/lab.css' %}">
        
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Lab on a Chip</a></h1>
            <br>
            {% if user.is_authenticated %}
                <!--<h2>Welcome, {{ user.get_username }}.</h1> -->
                <a class="btn-exit-account" href="/logout"><span class="glyphicon glyphicon-user"> {{ user.get_username }} </span></a>
                <!-- <p class="text-exit-acount">Logout </p>  -->
                
                
            {% else %}
                <a class="btn-enter-account" href="/login"><span class="glyphicon glyphicon-user"> Login</span></a>
                <!-- <p class="text-exit-acount">Login</p>  -->
            {% endif %}
            
        </div>
        
            
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    <!--
                    {% if data %}
                    {{exame| safe}}
                    {% endif %}
                    -->
                </div>
            </div>
        </div>
    </body>
</html>
