{% extends 'lab/base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="btn-new-exam"><span class="glyphicon glyphicon-plus">New</span></a>
    <div class="content container">
{% endif %}

        {% for post in posts %}
        {% if user.is_authenticated %}
            {% if user.get_username == post.author %}
                <div class="post">
                    <div class="date">
                        
                    </div>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.Exam}}</a></h2>
                    <h3>Paciente: {{post.Pacient}}</h3>
                    {{ post.published_date }}
                    <br>
                </div>
            {% endif %}
        {% endif %}   
    {% endfor %}
{% endblock %}