<html>
    <head>
        <title>Lab's site</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Lab on a chip</a></h1>
        </div>

        <div>
            <p>Publicado: 29/06/2020</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>É nóis que ta</p>
        </div>

        <div>
            <p>Pubiclado 29/06/2020</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Uma frase qualquer</p>
        </div>
        <div>
          
            <h2><a href="">Larissa</a></h2>
            <p>A Larissa é muito linda e eu amo muito ela!</p>
        </div>
    </body>
</html>