{% extends 'lab/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ post.Exame }}</h2>
        <h3>Paciente: {{post.Paciente}}</h3>
        <p>Observações: {{ post.text|linebreaksbr }}</p>

        <a href="{% url 'delete' pk=post.pk%}">Delete</a>
    </div>
{% endblock %}
